<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" href="css/style.css">
</head>
<body id="createUser">
    <div class="box-back">
        <form class="box" action="#" th:action="@{/createUser}" th:object="${user}" method="post">
            <h1>Create User</h1>
            <!--<p>First Name: --><input type="text" th:field="*{vorname}" placeholder="First name"/><!--</p>-->
            <!--<p>Last Name: --><input type="text" th:field="*{nachname}" placeholder="Last name"/><!--</p>-->
            <input type="submit" value="Create" />
            <input type="button" onclick="history.back();" value="Back">
        </form>
    </div>
</body>
</html>


