<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Schaltung</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" href="css/style.css">
</head>
<body id="selectBody">
    <form action="#" th:action="@{/material}" th:object="${String}" method="post">
        <div class="select">
            <select class="form-control" id="schaltung" name="testOrder">
                <option selected disabled>Select Gearshift</option>
                <option th:each="test : ${gear}"
                        th:value="${test}"
                        th:text="${test}">
                </option>
            </select>
            </div>
        <button type="submit">Next step</button>
    </form>
    <!--<a href="/handlebar"><button>Back</button></a>-->
</body>
</html>