<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form>
        <select class="form-control" id="handlebar" name="testOrder">
            <option value="">Select Type</option>
            <option th:each="test : ${type}"
                    th:value="${test}"
                    th:text="${test}">
            </option>
        </select>

    </form>
        <a href="/schaltung">
            <button>Next step</button>
        </a>

    <a href="index.html">Zur Startseite</a>
</body>
</html>
