<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" href="css/style.css">
</head>
<body id="selectBody">
        <form action="#" th:action="@{/gear}" th:object="${String}" method="post">
            <div class="select">
                <select class="form-control" id="handlebar" name="testOrder" >
                    <option selected disabled>Select Type</option>
                    <option th:each="test : ${type}"
                            th:value="${test}"
                            th:text="${test}">
                    </option>
                </select>
            </div>
            <button type="submit">Next step</button>
        </form>


        <a href="index.html"><button>Home</button></a>
</body>
</html>
