<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Griff</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" href="css/style.css">
</head>
<body id="selectBody">
<div class="box-back">

    <form class="box" action="#" th:action="@{/overview}" th:object="${String}" method="post">
        <div class="select">
            <select class="form-control" id="griff" name="testOrder">
                <option selected disabled>Select Gearshift</option>
                <option th:each="test : ${handle}"
                        th:value="${test}"
                        th:text="${test}">
                </option>
            </select>
        </div>
        <a href="/overview" style="text-decoration: none"><button class="buttonUser">Done</button></a>
    </form>
</div>
    <!--<a href="/material"><button>Back</button></a>-->
</body>
</html>