<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Schaltung</title>
</head>
<body>
    <select class="form-control" id="schaltung" name="testOrder">
        <option value="">Select Gearshift</option>
        <option th:each="test : ${type}"
                th:value="${test}"
                th:text="${test}">
        </option>
    </select>
    <a href="/material">
        <button>Next step</button>
    </a>
<a href="index.html">Zur Startseite</a>
</body>
</html>