<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User created</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" href="css/style.css">
</head>
<body id="createUser">
    <div class="box">
        <div class="ow_h1">
            <h2>User successfully created</h2>
        </div>
        <div class="ow-p">
            <p th:text="${user.vorname}"></p>
            <p th:text="${user.nachname}"></p>
            <a href="/createUser" style="text-decoration: none"><button class="buttonUser">Create New</button></a>
            <a href="index.html" style="text-decoration: none"> <button class="buttonHome">Home</button></a>
        </div>
    </div>
</body>
</html>